/*Content*/

.bannerimg{
	background-image: url("../images/bannermain.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.bannerimg img{
	padding: 15% 0 15% 0;
}

.bannertext{
	font-family: 'JosefinSans-BoldItalic';
	color: #fff;
	font-size: 45px;
	padding: 16% 0 0 0;
}

.mymodule{
	font-family: 'JosefinSans-Bold';
	font-size: 20px;
	padding: 2% 0 2% 0;
	letter-spacing: 0.5px;
}

.mymodule div{
	display: inline-block;
}

.redtext{
	color: #c72436;
}

.greybar{
	color: #0f1031;
	padding: 0 0 0 2%;
}

.greytext{
	color: #0f1031;
	font-family: 'JosefinSans-Regular';
    padding: 0 0 0 2%;
}

.guttermidd{
	color: grey;
	padding-top: 20px;
}

.videop img{
	width: 100%;
}

.videodesc{
	font-family: 'JosefinSans-Bold';
	font-size: 22px;
	letter-spacing: 1px;
	padding: 2% 0 2% 5%;
	color: #c72030;
	text-align: center;

}

.videodesc img{
	padding-bottom: 4px;
}

.synopsis{
	padding-left: 0px;
	padding-right: 0px;
}

.synopsis button{
	background-color: #f05f6e;
	/*background-color: #eb293e;*/
	font-family: 'JosefinSans-Bold';
	font-size: 24px;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	border-style: none;
	width: 100%;
}

.synopsis button:active{
	background-color: #eb293e;
}


.synopsis img{
	height: 100px;
}

.whatuwill{
	padding-left: 0px;
	padding-right: 0px;
}

.whatuwill button{
	background-color: #f05f6e;
	font-family: 'JosefinSans-Bold';
	font-size: 24px;
	color: #fff;
	text-align: center;	
	padding-top: 10px;
	border-style: none;
	width: 100%;
}

.whatuwill button:active{
	background-color: #eb293e;	
}

.active{
	background-color: #eb293e !important;	
}

.whatuwill img{
	height: 100px;
}

.download{
	padding-left: 0px;
	padding-right: 0px;
}

.download button{
	background-color: #f05f6e;
	/*background-color: #f27481;*/
	font-family: 'JosefinSans-Bold';
	font-size: 24px;
	color: #fff;
	text-align: center;	
	padding-top: 10px;
	border-style: none;
	width: 100%;
}

.download button:active{
	background-color: #eb293e;
}


.download img{
	height: 100px;
}


.desctext{
	font-family: 'OpenSans-Regular';
	font-size: 21px;
	line-height: 25px;
	height: 250px;		
	overflow-y: scroll;	
	margin: 1.5% 0 1.5% 0;
}

.desctext::-webkit-scrollbar {
    width: 25px;
}

.desctext::-webkit-scrollbar-track {
    background-color: #e6e6e6;
    border-radius: 20px;
}

.desctext::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #a2a4a8;
}

.bottom{
	background-color: #ebebeb;
	padding-bottom: 2%;		
}

.queries{
	padding-top: 25px;
	font-family: 'JosefinSans-Bold';
	font-size: 36px;
	color: #0f1031;	
	text-align: center;
}

.botttext{
	padding-top: 7px;
	font-family: 'OpenSans-Regular';
	font-size: 21px;
	color: #002736;
	padding-bottom: 30px;
	line-height: 25px;
	text-align: center;
}


.inputname input{
	width: 100%;
	height: 50px;
	color: #000;
	text-align: center;
	font-family: 'JosefinSans-Bold';
	font-size: 34px;
	border-style: none;
	border-radius: 5px;	
}

.inputname{
	padding-bottom: 35px;
}

.inputname input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c2c2c2 !important;
}
.inputname input::-moz-placeholder { /* Firefox 19+ */
  color: #c2c2c2 !important;
}
.inputname input:-ms-input-placeholder { /* IE 10+ */
  color: #c2c2c2 !important;
}
.inputname input:-moz-placeholder { /* Firefox 18- */
  color: #c2c2c2 !important;
}

.inputemail input{
	width: 100%;
	height: 50px;
	color: #000;
	text-align: center;
	font-family: 'JosefinSans-Bold';
	font-size: 34px;
	border-style: none;
	border-radius: 5px;
}

.inputemail{
	padding-bottom: 150px;
}

.inputemail input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c2c2c2 !important;
}
.inputemail input::-moz-placeholder { /* Firefox 19+ */
  color: #c2c2c2 !important;
}
.inputemail input:-ms-input-placeholder { /* IE 10+ */
  color: #c2c2c2 !important;
}
.inputemail input:-moz-placeholder { /* Firefox 18- */
  color: #c2c2c2 !important;
}

.buttonsend input{
	width: 100%;
	height: 50px;
	background-color: #eb293e;
	color: #fff;
	font-family: 'JosefinSans-Bold';
	font-size: 34px;
	border-style: none;
	border-radius: 5px;
}

.rtextarea textarea{
	width: 100%;
	border-style: none;
	height: 355px;
	color: #000;
	font-family: 'JosefinSans-Bold';
	font-size: 34px;
	resize: none;
	border-radius: 5px;	

}


/*TAB STYLES*/

/* Style the tab */
div.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;    
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /*padding: 6px 12px;*/
    /*border: 1px solid #ccc;*/
    border-top: none;
}














/*ganesh header*/

.myheader{
	
}

.myheadersecond{
	padding-right: 0;
}

.myheadersecond img{
	width: 100%;
}

.logotext{
	
	font-family: 'JosefinSans-Bold';
	font-size: 15px;
    color: #213358;
    padding-left: 1.75%;
    top: -12px;
}

.mylist ul li{
	display: inline-block;
	font-family: 'JosefinSans-Bold';
    font-size: 15px;
    padding: 4% 0 0 0;
}

.mylist ul li a{
	color: #213159 !important;

}

.mylist ul li a img{


}

.mynav{
	background-color: transparent;
	border: none;
}


/*Media queries for header*/

/* iPhone 5 */
@media only screen
and (max-width: 320px)
and (max-height: 568px)
and (orientation:portrait) {
   
    .logotext{
		font-size: 12px;
	    padding-left: 3%;
	    top: -6px;
	}
}


/* Galaxy S5 */
@media only screen
and (max-width: 360px)
and (max-height: 640px)
and (orientation:portrait) {
   .logotext {
	    padding-left: 2.75%;
	    top: -7px;
	}
}

/* iPad*/
@media only screen
and (min-height: 750px)
and (max-height: 768px)
and (min-width: 1000px)
and (max-width: 1024px)
and (orientation:landscape) {
   .logotext{
		font-size: 14px;
	}
}


/* iPad pro*/
@media only screen
and (min-width: 1000px)
and (max-width: 1024px)
and (min-height: 1350px)
and (max-height: 1366px)
and (orientation:portrait) {
	.logotext{
		font-size: 14px;
	}
}












/*media queries*/

/* iPhone 5 */
@media only screen
and (max-width: 320px)
and (max-height: 568px)
and (orientation:portrait) {
    .bannerimg{
		background-image: url("../images/bannermain_iphone5.jpg") !important;
	}

	.bannerimg img{
	    padding: 7.5% 0px 7.5% 0 !important;
    	width: 75% !important;
    	margin-left: 15px !important;
	}

	.bannertext{
	    font-size: 20px !important;
	    padding: 0 !important;
	    margin: 0 0 0 18% !important;
	}

	.mymodule{
		font-size: 10px !important;
	}
	.tabmedia div button {
    	font-size: 12px !important;
   	}
   	.tabmedia div button img {
        width: 75% !important;
        height: 75% !important;	
        padding-right: 0%;
    }
}

@media only screen
and (max-height: 320px)
and (max-width: 568px)
and (orientation:landscape){
	.bannerimg{
		background-image: url("../images/bannermain_iphone5.jpg") !important;
	}

	.bannerimg img{
	    padding: 5% 0px 5% 0 !important;
    	width: 60% !important;
    	margin-left: 15px !important;
	}

	.bannertext{
	    font-size: 26px !important;
	    padding: 0 0 5px 0 !important;
	    margin: 0 0 0 0 !important;
	}
	.tabmedia div button {
    	font-size: 13px !important;
   	}
   	.tabmedia div button img {
        width: 40% !important;
        height: 40% !important;	
        padding-right: 0%;
    }
}




/* Galaxy S5 */
@media only screen
and (max-width: 360px)
and (max-height: 640px)
and (orientation:portrait) {
   	.bannerimg{
		background-image: url("../images/bannermain_galaxyS5.jpg");
	}

	.bannerimg img{
	    padding: 7.5% 0 7.5% 0;
    	width: 75%;
    	margin-left: 13px;
	}

	.bannertext{
	    font-size: 20px;
	    padding: 0;
	    margin: 0 0 2% 22%;
	}
	.mymodule{
		font-size: 10px !important;
	}
	.tabmedia div button {
    	font-size: 14px	;
   	}
   	.tabmedia div button img {
        width: 65%;
        height: 65%;	
        padding-right: 0%;
    }
}

@media only screen
and (max-height: 360px)
and (max-width: 640px)
and (orientation:landscape){
  	.bannerimg{
		background-image: url("../images/bannermain_galaxyS5.jpg");
	}

	.bannerimg img{
	    padding: 5% 0 5% 0;
    	width: 60%;
    	margin-left: 25px;
	}

	.bannertext{
	    font-size: 26px;
	    padding: 0 0 5px 0;
	    margin: 0 0 0 8%;
	}
	.tabmedia div button {
    	font-size: 16px;
   	}
   	.tabmedia div button img {
        width: 33%;
        height: 33%;	
        padding-right: 0%;
    }
}


/* Nexus 5x */
@media only screen
and (min-width: 361px)
and (max-width: 412px)
and (min-height: 600px)
and (max-height: 732px)
and (orientation:portrait) {
  	.bannerimg{
		background-image: url("../images/bannermain_galaxyS5.jpg");
	}

	.bannerimg img{
	    padding: 7.5% 0 7.5% 0;
    	width: 75%;
    	margin-left: 13px;
	}

	.bannertext{
	    font-size: 24px;
	    padding: 0;
	    margin: 0 0 2% 20%;
	}
	.tabmedia div button {
    	font-size: 16px;
   	}
   	.tabmedia div button img {
        width: 65%;
        height: 65%;	
        padding-right: 0%;
    }
}

@media only screen
and (min-height: 100px)
and (max-height: 412px)
and (min-width: 600px)
and (max-width: 732px)
and (orientation:landscape){
   .bannerimg{
		background-image: url("../images/bannermain_galaxyS5.jpg");
	}

	.bannerimg img{
	    padding: 5% 0 5% 0;
    	width: 60%;
    	margin-left: 25px;
	}

	.bannertext{
	    font-size: 26px;
	    padding: 0 0 5px 0;
	    margin: 0 0 0 8%;
	}
	.tabmedia div button {
    	font-size: 16px;
   	}
   	.tabmedia div button img {
        width: 33%;
        height: 33%;	
        padding-right: 0%;
    }
}

/* iPhone 6 */
@media only screen
and (min-width: 321px)
and (max-width: 375px)
and (min-height: 569px)
and (max-height: 667px)
and (orientation:portrait) {
   .bannerimg{
		background-image: url("../images/bannermain_galaxyS5.jpg");
	}

	.bannerimg img{
	    padding: 7.5% 0 7.5% 0;
    	width: 75%;
    	margin-left: 13px;
	}

	.bannertext{
	    font-size: 20px;
	    padding: 0;
	    margin: 0 0 2% 22%;
	}
	.tabmedia div button {
    	font-size: 14px;
   	}
   	.tabmedia div button img {
        width: 66%;
        height: 66%;	
        padding-right: 0%;
    }
}

@media only screen
and (min-height: 321px)
and (max-height: 375px)
and (min-width: 569px)
and (max-width: 667px)
and (orientation:landscape){
    .bannerimg{
		background-image: url("../images/bannermain_galaxyS5.jpg");
	}

	.bannerimg img{
	    padding: 5% 0 5% 0;
    	width: 60%;
    	margin-left: 25px;
	}

	.bannertext{
	    font-size: 26px;
	    padding: 0 0 5px 0;
	    margin: 0 0 0 8%;
	}
}



/* Nexus 6p (orig)                and              iPhone 6 plus(auto) */

@media only screen
and (min-width: 412px)
and (max-width: 435px)
and (min-height: 732px)
and (max-height: 773px)
and (orientation:portrait) {
   .bannerimg{
		background-image: url("../images/bannermain_galaxyS5.jpg") !important;
	}

	.bannerimg img{
	    padding: 7.5% 0 7.5% 0;
    	width: 75%;
    	margin-left: 13px;
	}

	.bannertext{
        font-size: 20px;
    	padding: 0;
    	margin: 0 0 3% 0%;
	}
}

@media only screen
and (min-height: 412px)
and (max-height: 435px)
and (min-width: 732px)
and (max-width: 773px)
and (orientation:landscape){
   .bannerimg{
		background-image: url("../images/bannermain_galaxyS5.jpg");
	}

	.bannerimg img{
	    padding: 5% 0 5% 0;
    	width: 55%;
    	margin-left: 44px;
	}

	.bannertext{
	    font-size: 26px;
	    padding: 0 0 5px 0;
	    margin: 0 0 0 15%;
	}
}



/* iPhone 6 Plus*/
@media only screen
and (min-width: 376px)
and (max-width: 414px)
and (min-height: 668px)
and (max-height: 736px)
and (orientation:portrait) {
   .tabmedia div button {
    	font-size: 15px;
   	}
   	.tabmedia div button img {
        width: 70%;
        height: 70%;	
        padding-right: 0%;
    }
}

@media only screen
and (min-height: 376px)
and (max-height: 414px)
and (min-width: 668px)
and (max-width: 736px)
and (orientation:landscape){
    .tabmedia div button {
    	font-size: 16px;
   	}
   	.tabmedia div button img {
        width: 33%;
        height: 33%;	
        padding-right: 0%;
    }
}


/* iPad*/
@media only screen
and (min-width: 750px)
and (max-width: 768px)
and (min-height: 1000px)
and (max-height: 1024px)
and (orientation:portrait) {
   .bannerimg{
		background-image: url("../images/bannermain_ipad.jpg");
	}

	.bannerimg img{
		margin-left: -35%;
	}

	.bannertext{
		font-size: 40px;
    	padding: 13% 0 0 0;
  		margin-left: 15%;
	}
	.tabmedia div button {
    	font-size: 18px;
   	}
   	.tabmedia div button img {
        width: 33%;
        height: 33%;	
        padding-right: 0%;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape){
    .bannerimg{
		background-image: url("../images/bannermain_ipad.jpg");
	}

	.bannerimg img{
		margin-left: -10%;
	}

	.bannertext{
		font-size: 45px;
	    padding: 10% 0 0 0;
	    margin-left: 12%;
	}
}

/* iPad Pro*/

@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) {
	.bannertext {
	    font-size: 36px;
	    padding-top: 21%;
	}
	.bannerimg img {
	    margin-left: -15%;
	}
}



/*Common Media Queries*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /*[class*="col-"]*/
    .mymodule {
    	font-size: 12px;
    }

	.inputemail{
		padding-bottom: 35px;
	}

	.rtextarea{
		padding-bottom: 35px;
	}

	.videodesc{
		padding-left: 0;
	}
	.desctext {
	    font-size: 16px;
	    line-height: 22px;
	}
	.queries {
	    font-size: 24px;
	}
	.botttext {
	    font-size: 16px;
	    line-height: 22px;
	}
	.videodesc {
	    font-size: 18px;
	}
}

@media only screen and (max-width: 1023px) {
	
   	
	.inputname{
		padding-bottom: 20px;
	}
	.inputemail{
		padding-bottom: 20px;
	}
	.inputname input {
		height: 35px;
	    font-size: 20px;
	    border-radius: 3px;
	}
	.inputemail input {
		height: 35px;
	    font-size: 20px;
	    border-radius: 3px;
	}
	.buttonsend input {
		height: 35px;
	    font-size: 20px;
	    border-radius: 3px;
	}
	.rtextarea{
		padding-bottom: 15px;
	}
	.rtextarea textarea{
		height: 130px;
		font-size: 20px;
	    border-radius: 3px;
	}
	.videodesc{
		padding-left: 0;
	}
	.desctext {
	    font-size: 16px;
	    line-height: 22px;
	}
}

