.jackcontent {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/homeimg.jpg);
    background-size: cover;
    background-position: top left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.homeimg img{
    width: 100%
}
.homecontent{
    border: 1px solid red;
    position: absolute;
    top: 23%;
    left: 8%;
    color: #fff;
    padding: 0px;
    margin: 0px;
    text-align: left;
}


.homepara {
    font-size: 42px;
    padding-left: 22%;
    font-family: JosefinSans-Bold;
    color: #fff;
    padding-top: 2%;
    letter-spacing: 0.6px;
}


.homepara1 {
    font-size: 15px;
    padding-top: 2%;
    padding-left: 22%;
    font-family: JosefinSans-Regular;
    color: #fff;
    letter-spacing: 0.7px;
}

.video {
    padding-left: 17%;
    padding-top: 3%;
    margin-left: 1%;
}

.homepara2 {
    padding-left: 32%;
    font-size: 23px;
    padding-top: 3%;
    font-family: JosefinSans-Regular;
    color: #fff;
}

.box1 {
    background-color: #213157;
    color: #fff;
    font-size: 19px;
    text-align: center;
    height: 10%;
    width: 15%;
    font-family: JosefinSans-Bold;
}

.box2 {
    background-color: #df2330;
    color: #fff;
    font-size: 19px;
    text-align: center;
    height: 10%;
    width: 15%;
    font-family: JosefinSans-Bold;
}

.box3 {
    background-color: #3ecccb;
    color: #fff;
    text-align: center;
    font-size: 19px;
    height: 10%;
    width: 15%;
    font-family: JosefinSans-Bold;
}

.box4{
    background-color: #fecb6e;
    color: #fff;
    text-align: center;
    font-size: 19px;
    height: 10%;
    width: 15%;
    font-family: JosefinSans-Bold;
}

.boxes div{
    display: inline-block;
}

.boxes {
   margin-left: 26%;
}

.partner {
    text-align: center;
    font-family: JosefinSans-Bold;
    font-size: 27px;
    color: #c72030;
}

.partnerdesc {
    text-align: center;
    font-family: JosefinSans-Regular;
}

.circle ul li {
    display: inline-block;
    padding: 4%;
    margin-left: 10%;
}

.circle {
    text-align: center;
    padding-right: 11%;
    padding-top: 2%;
}

.circle1 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #213159;
    width: 64px;
    height: 64px;
    border-radius: 60%;
}

.circle2 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #002736;
    width: 64px;
    height: 64px;
    border-radius: 60%;
}


.circle3 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #213159;
    width: 64px;
    height: 64px;
    border-radius: 60%;
}


.circle4 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #213159;
    width: 64px;
    height: 64px;
    border-radius: 60%;
}


.middlecontent {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/middle.png);
    background-size: cover;
    background-position: top left;
}

.downpara {
    padding-top: 2%;
    padding-left: 1%;
    font-size: 18px;
    text-align: left;
    font-family: JosefinSans-Bold;
}

.bigvideo {
    padding-top: 3%;
}

.module h3 {
    font-family: JosefinSans-Bold;
    font-size: 19px;
    color: #000;
}
.module h1 {
    font-family: JosefinSans-Bold;
    font-size: 35px;
    color: #000;
}
.module h6 {
    font-family: JosefinSans-Bold;
    font-size: 14px;
    color: #000;
    color: #cb3a46;
}

.imgright img {
    margin-left: 100%;
    padding-left: 100%;
    margin-top: -108%;
}

.testi {
    background-color: #ebebeb;
    padding-bottom: 5%;
}
.test1{
    text-align: center;
    font-family: JosefinSans-Bold;
}

.mini{
    font-family: OpenSans;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    height: 250px;      
    margin: 1.5% 0 1.5% 0;
}

.img1 {

}
.names {
    text-align: center;
    font-family: JosefinSans-Bold;
}
.names1 {
    font-family: JosefinSans-Bold;
    text-align: center;
    color: red;
}

.bottomcontent {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/botimg.png);
    background-size: cover;
    background-position: top left;
}

.event {
    text-align: center;
    font-family: JosefinSans-Bold;
    color: #fff;
    font-size: 27px;
}

.event1 {
    text-align: center;
    font-family: josefinSans-Regular;
    font-size: 17px;
    color: #fff;
}

.date {
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 13%;
    margin-top: -21%;
    color: #fff;
}

.date1 {
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 39%;
    margin-top: -28%;
    color: #fff;
}

.date2 {
    position: absolute;
    font-size: 25px;
    font-family: josefinSans-Bold;
    padding-left: 65%;
    margin-top: -34.9%;
    color: #fff;
}

.eventtitle {
    top: 0px;
}