/*.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}*/
#pt{
    color: white; 
    text-align: center;
    padding-bottom: 5%;
    font-size: 16px;
}


#login-submit{
    background-color: #333366;
    text-decoration-color: white;
}
input::-webkit-input-placeholder {
color: #3399cc !important;

}
textarea::-webkit-input-placeholder {
color: white !important;
}

}



#kalai{
    padding-left: 5% !important;
}

#kalai,#test{
   
    border: 1px solid #fff;
    position: relative;
    padding-top: 1.5%;
    padding-left: 5%;
    padding-bottom: 1.5%;
    font-size: 15px;
    
    
}
#location,#education{
   
    border: 1px solid #fff;
    position: relative;
    padding-left: 4%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;
    height: 43px;
    
}
#location,#education{
    color: #3399cc !important;
    
}
#email{
    color: #3399cc;
    border: 1px solid #fff;
    position: relative;
        padding-left: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}
#password,#confirmpassword{
    color: #3399cc;
        border: 1px solid #fff;
    position: relative;
    padding-left: 10%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}

#facebook,#gmail{
    text-align: center;
     border: 1px solid #fff;
    position: relative;
    padding-left: 0%;
    padding-top: 3.5%;
    padding-bottom: 1.5%;
    font-size: 15px;
}
       

#login-submit{
       background-color: #3399cc;
    text-align: center;
    color: white;
    border: none;
    margin: 0 auto 15px;
    position: relative;
    padding-left: 0%;
    padding-top: 1.5%;
    padding-bottom: 8.5%;
    font-size: 22px;
    
}
#fbimg,#gmimg{
   position: absolute;
    z-index: 1;
    width: 36px;
    left: 30.5%;
    padding-top: 5px;
}
#canimg{
    position: absolute;
    z-index: 1;
    width: 26px;
    right: 5.5%;
    padding-top: 9px
}
#emimg{
    position: absolute;
    z-index: 1;
    width: 28px;
    left: 2.5%;
    padding-top: 11px;x
}#panimg{
        position: absolute;
    z-index: 1;
    width: 26px;
    left: 5.5%;
    padding-top: 10px;
}#conimg{
       position: absolute;
    z-index: 1;
    width: 26px;
    left: 5.5%;
    padding-top: 10px;
}

/* Galaxy S5 */
@media only screen
and (max-width: 360px)
and (max-height: 640px)
and (orientation:portrait) {
   #login-submit{
       padding-top: 2.5%;
       padding-bottom: 12.5%;
    } 
    
    #email{
    
        padding-left: 10%;
    

} 
#emimg{
    
    left: 5.5%;
    width: 25px;
      
 
}
#email{
    color: #3399cc;
    border: 1px solid #fff;
    position: relative;
        padding-left: 12%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}
#password,#confirmpassword{
    color: #3399cc;
    border: 1px solid #fff;
    position: relative;
    padding-left: 12%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}
#fbimg, #gmimg {
    width: 34px;
    left: 23.5%;
    padding-top: 7px;
}

}

@media only screen
and (max-height: 360px)
and (max-width: 640px)
and (orientation:landscape){
   #login-submit{
       padding-top: 1.5%;
    padding-bottom: 7.5%;
}
    
    
#emimg{
    
    left: 5.5%;
    width: 25px;

      
 
}
#email{
    color: #3399cc;
    border: 1px solid #fff;
    position: relative;
    padding-left: 15%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}
#password,#confirmpassword{
    color: #3399cc;
    border: 1px solid #fff;
    position: relative;
    padding-left: 12%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}
#fbimg, #gmimg {
    width: 34px;
    left: 35.5%;
    padding-top: 7px;
}
#canimg {
    right: 3.5%;
    
}

}
/* Galaxy S5 * End/

/* Nexus 5x */
@media only screen
and (min-width: 362px)
and (max-width: 412px)
and (min-height: 642px)
and (max-height: 732px)
and (orientation:portrait) {
   #emimg{
    
    left: 5.5%;
    width: 25px;
}
#email{
    color: #3399cc;
    border: 1px solid #fff;
    position: relative;
    padding-left: 12%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}
#login-submit{
           padding-bottom: 10.5%;
    } 
    #fbimg, #gmimg {
    
    left: 26.5%;
    
}
}

@media only screen
and (min-height: 361px)
and (max-height: 411px)
and (min-width: 641px)
and (max-width: 731px)
and (orientation:landscape){
   #emimg{
    
    left: 5.5%;
    width: 25px;
}
#email{
    color: #3399cc;
    border: 1px solid #fff;
    position: relative;
    padding-left: 12%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}
#login-submit{
              padding-top: 0.5%;
    padding-bottom: 5.5%;
    } 
    #fbimg, #gmimg {
    
    left: 34.5%;
    
}
}
/* Nexus 5x End */

/* Nexus 6p */


@media only screen
and (min-height: 412px)
and (max-height: 435px)
and (min-width: 732px)
and (max-width: 773px)
and (orientation:landscape){
   #emimg{
    
    left: 5.5%;
    width: 25px;
}
#email{
    color: #3399cc;
    border: 1px solid #fff;
    position: relative;
    padding-left: 12%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}
}
@media only screen
and (min-height: 412px)
and (max-height: 435px)
and (min-width: 732px)
and (max-width: 773px)
and (orientation:landscape){
   #login-submit{
          font-size: 30px;
    } 
}
/* Nexus 6p End */

/* Shared/Common */
@media only screen
and (max-device-width: 1024px)
and (max-device-height: 1024px) {
    #emimg{
    
    left: 5.5%;
    width: 25px;
}
#email{
    color: #3399cc;
    border: 1px solid #fff;
    position: relative;
    padding-left: 12%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}
}

@media only screen
and (orientation:portrait)
and (max-device-width: 1024px)
and (max-device-height: 1024px) {
    #emimg{
    
    left: 5.5%;
    width: 25px;
}
#email{
    color: #3399cc;
    border: 1px solid #fff;
    position: relative;
    padding-left: 12%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 15px;

}
}
/* Shared/Common End */


/* iPhone 5 */
@media only screen
and (max-width: 320px)
and (max-height: 568px)
and (orientation:portrait) {
    #emimg{
    
    left: 6.5%;
    }
#email{
    
    padding-left: 13%;
    }
    #panimg{
        
    left: 6.5%;
    
}#conimg{
       
    left: 6.5%;
    
}
#password,#confirmpassword{
    
    padding-left: 13%;
    

}
#canimg {
    right: 6.5%;
    
}
#fbimg, #gmimg {
    
    left: 20.5%;
    
}
}

@media only screen
and (max-height: 320px)
and (max-width: 568px)
and (orientation:landscape){
    #fbimg, #gmimg {
    
    left: 32.5%;
    
}   
}
/* Iphone 5 End* */


/* iPhone 6 */
@media only screen
and (min-width: 321px)
and (max-width: 375px)
and (min-height: 569px)
and (max-height: 667px)
and (orientation:portrait) {
    #fbimg, #gmimg {
    
    left: 27.5%;
    
} 
#login-submit{
    font-size: 18px;
} 
/*#email{
    
    padding-left: 10%;
    }  
}*/

@media only screen
and (min-height: 321px)
and (max-height: 375px)
and (min-width: 569px)
and (max-width: 667px)
and (orientation:landscape){
   #fbimg, #gmimg {
    
    left: 32.5%;
    
} 
#ligin-submit{
    padding-bottom: 9.5%;
    font-size: 28px;
}
/*#email{
    
    padding-left: 10%;
    } */

}
/* iPhone 6 End */

/* iPhone 6 Plus*/
@media only screen
and (min-width: 376px)
and (max-width: 414px)
and (min-height: 668px)
and (max-height: 736px)
and (orientation:portrait) {
   #fbimg, #gmimg {
    
    left: 25.5%;
    
} 
}

@media only screen
and (min-height: 376px)
and (max-height: 414px)
and (min-width: 668px)
and (max-width: 736px)
and (orientation:landscape){
    #fbimg, #gmimg {
    
    left: 35.5%;
    
} 
}
/* iPhone 6 Plus End*/



/* iPad*/
@media only screen
and (min-width: 750px)
and (max-width: 768px)
and (min-height: 1000px)
and (max-height: 1024px)
and (orientation:portrait) {
       #email{
    padding-left: 10%;
}

}

@media only screen
and (min-height: 750px)
and (max-height: 768px)
and (min-width: 1000px)
and (max-width: 1024px)
and (orientation:landscape){
    #email{
    padding-left: 10%;
}
}