.myheadersecond{
	padding-right: 0px;
}

.myheadersecond img{
	width: 100%;
}

.logotext{	
	font-family: 'JosefinSans-Bold';
	font-size: 15px;
    color: #213358;
    padding-left: 1.75%;
    top: -12px;
}
.langlist select{
	position: absolute;
	font-family: 'JosefinSans-Bold';
	font-size: 15px;
	top: -12px;
	color: #fff;
    background-color: #3399cc;
    margin-top: 25px;
    border: none;
}

.mylist ul li{
	display: inline-block;
	font-family: 'JosefinSans-Bold';
    font-size: 10px;
    padding: 7% 0 0 0;

}

.mylist ul li a{
	color: #213159 !important;
	padding: 5px 5px;
	margin-left: -15%;
}

.mylist ul li a img{
	margin-top: -17%;
}
.mynav{
	background-color: transparent;
	border: none;
}


/*Media queries for header*/


/* Galaxy S5 */
@media only screen 
and (min-device-width: 360px) 
and (max-device-height: 640px) 
and (orientation : landscape) 

{
	.navbar-nav {
    margin: 7.5px -15px;
    display: inline-grid;
    padding-left: 31px;
}
.nav>li>a>img {
    max-width: none;
    padding-left: 2px;
}

 .navbar-collapse {
    border-top: 0px solid transparent;
    
}
.wrapperinner {
    margin-left: 34px;
    width: 91.8% !important;
}

.logotext {
	    padding-left: 1%;
	    top: -7px;

}



/* iPad*/
@media only screen
and (min-height: 750px)
and (max-height: 768px)
and (min-width: 1000px)
and (max-width: 1024px)
and (orientation:landscape) {
   .logotext{
		font-size: 14px;
	}
}


/* iPad pro*/
@media only screen
and (min-width: 1000px)
and (max-width: 1024px)
and (min-height: 1350px)
and (max-height: 1366px)
and (orientation:portrait) {
	.logotext{
		font-size: 14px;
	}
}
/* iPhone 5 */
@media only screen
and (max-width: 320px)
and (max-height: 568px)
and (orientation:portrait) {
   
    .logotext{
		font-size: 12px;
	    padding-left: 3%;
	    top: -6px;
	}
}

