
.leftside {
    background-image: url(images/aboutusimage.png);
}

.leftside img {
    width: 100%;
    position: relative;
  
}
.rightside {
    background-image: url(../images/whyusimage.png);

}

.rightside img {
    width: 100%;
    position: relative;
  
}
.aboutinner {
    position: absolute;
    top: 10%;
    border: 0px solid white;
    margin-left: 8%;
    height: 320px;
    color: white;
}

.aboutinner h1 {
    font-family: JosefinSansBold;
    font-style: italic;
    font-size: 35px;
    padding-top: 35px;
}

.rightalign {
    text-align: right;
}

.leftpadding {
    padding-left: 6%;
}

.generalpara {
    font-size: 16px;
    font-weight: 200;
    padding-top: 20px;

}
    
.responsive-image {
    text-align: center;
    padding-top: 0px;
    max-width: 100%;
    position: relative;
    overflow: auto;
    height: auto; 
}
.responsive-image {
    max-width: 100%; 
    height: auto;
    display:block;
    left: -33px;
}
.fulltext{
    padding-top: 0px;
    padding-left: 0px;
    
}
.text1{
    min-height: 10px;

   
}
.htext h3{
 font-family: JosefinSans-Bold; 
 font-size: 36px;
 color: black;  
}
.para{
     font-family: OpenSans-Regular;
     font-size: 21px;
     color: black;
    
}
.more{
   font-family: OpenSans-Regular;
     font-size: 21px;
    color: #E4222A;
}
.more1{
padding-top: 40px;    
}
.more2{
        padding-top: 17px;
}

.more3{
        padding-top: 27px;
}


.prasathcontent {
    padding-top: 0px;
    padding-bottom: 0px;
    
}
.leftdiv {
     background-color: #2780ae;
    
    min-height: 400px;
    position: relative;
    
}

.leftdiv:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../images/leftsideimage.png');
    background-repeat: no-repeat;
    background-position: top right;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

   
    /*background-image: url(../images/aboutusimage.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: top right;
    min-height: 500px;
    position: relative;*/
}



.rightdiv {
    background-color: #bf1f2d;
    
    min-height: 400px;
    position: relative;
    
}
.rightdiv:before {

    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../images/whyusimage.png');
    background-repeat: no-repeat;
    background-position: top left;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;


  /*  opacity: 0.6;
    background-image: url();
    background-repeat:no-repeat;
    background-size:cover;  
    background-position: top left;*/
}

.wrapperleftdiv {
    padding-left: 0px;
    padding-right: 5px;
}

.wrapperrightdiv {
    padding-right: 0px;
    padding-left: 5px;
}
.smalllogo
{
    position: absolute;
    z-index: 1000;
    padding-top:11%;
    padding-left: 47.4%;
}
.smalllogo img{
    border-radius: 50%;
    border: 9px solid #ffffff;
}
.abouttext{
    color: #ffffff;
    padding-left: 102px;
    padding-top: 0PX;

}
.aboutus{
   font-family: JosefinSans-BoldItalic;
    font-size: 58px;
    padding-top: 30px;
    
}
.aboutuspar{
    font-family: OpenSans-Regular;
    font-size: 13.5px;
    color: #ffffff;
    padding-top: 0px;
    line-height: 20px;
}

.whytext{
    color: #ffffff;
    padding-top: 33px;
}
.whytext{
        padding-top: 16px;
    /* padding-right: 0; */
    padding-left: 31px;
}
.whyus{
    font-family: JosefinSans-BoldItalic;
    font-size: 58px;
    padding-top: 30px;
    color: #ffffff;
}
.whyuspar{
    font-family: OpenSans-Regular;
    font-size: 13.5px;
    color: #ffffff;
    padding-top: 0px;
    line-height: 22px;
}
.pardiv{
    padding-top: 32PX;
    line-height: 23PX;
}
.line{
   border: 1px solid-red;
   background-color: #e6e6e6;
   height: 15px;

}
.awclass{
    background-image: url(images/prasath.png);
   
}
.aboutsection img{
    width: 100%;
}

.aboutsection {
    background-image: url(../images/aboutback.png);
    background-repeat: no-repeat;
    background-position: top;
   
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    padding-bottom: 112px;
}

/* Galaxy S5  portrait*/
@media only screen
and (max-width: 360px)
and (max-height: 640px)
and (orientation:portrait) {
	.aboutus{
		font-size: 67px;
		padding-left: 0px;
    	padding-right: 2px;
    	padding-top: 0px;
	}
	.leftdiv{
		min-height: 454px;
	}
	.aboutuspar{
		font-size: 15px;
		padding-left: 0px;
    	padding-right: 1px;
    	padding-bottom: 5%;
    	line-height: 22px;
	}
	.wrapperleftdiv{
		padding-right: 0px;
		padding-bottom: 10px;	
	}
	.wrapperrightdiv{
		padding-left: 0px;
	}
	.smalllogo{
		padding-top: 118% !important;
    	padding-left: 41.4%;
	}
	.smalllogo img{
		width: 76%;
	}
	.whyus{
		font-size: 67px;
	}
	.whytext{
		padding: 0px;
	}
	.rightdiv {
		min-height: 450px;
	}
	.whyuspar{
		font-size: 16px;
		line-height: 22px;
	}
	.pardiv{
		padding-top: 12%;
	}
	.aboutsection img{
		left: 0;
	}
	.more1{
		padding-top: 26px;
	}
	.htext h3{
		font-size: 28px;
		padding-top: 2%;
	}
	.para{
		font-size: 20px;
	}
	.abouttext {
    padding-top: 16px;
    }
}



/* Galaxy S5  landscape*/
@media only screen
and (max-height: 360px)
and (max-width: 640px)
and (orientation:landscape){
	.abouttext {
		padding-top: 5%;
		padding-left: 20px;
	}
	.aboutus{
		font-size: 64px;
    	padding-right: 2px;
    	padding-top: 0px;
    	padding-left: 0px;
	}
	.wrapperleftdiv{
		padding-right: 0px;
		padding-bottom: 10px;	
	}
	.wrapperrightdiv{
		padding-left: 0px;
	}
	.smalllogo{
		padding-top: 63.5% !important;
    	padding-left: 43.4%;
	}
	.aboutuspar{
		font-size: 19px;
		padding-right: 7px;
		line-height: normal;
		padding-left: 0px;
		padding-top: 2.5%;
	}
	.leftdiv{
		min-height: 450px;
	}
	.rightdiv{
		min-height: 450px;
	}
	.whyus{
		font-size: 64px;
	}
	.whytext{
		padding: 0px;
		padding-left: 20px;
	}
	.whyuspar{
		font-size: 20px;
		line-height: normal;
	}
	.pardiv{
		padding-top: 7%;
	}
	.whytext{
		padding-top: 5%;
	}
	.aboutsection img{
		left: 0;
	}
	.htext h3{
		padding-top: 2%;
	}
}




/* Nexus 5x portrait */
@media only screen
and (min-width: 361px)
and (max-width: 412px)
and (min-height: 641px)
and (max-height: 732px)
and (orientation:portrait) {
	.aboutus{
		font-size: 67px;
		padding-left: 0px;
    	padding-right: 2px;
    	padding-top: 0px;
	}
	.leftdiv{
		min-height: 454px;
	}
	.aboutuspar{
		font-size: 17px;
		padding-left: 0px;
    	padding-right: 1px;
    	padding-bottom: 5%;
    	padding-top: 23px;
	}
	.abouttext{
		padding-left: 12px;
		padding-top: 15px;
	}
	.wrapperleftdiv{
		padding-right: 0px;
		padding-bottom: 10px;	
	}
	.wrapperrightdiv{
		padding-left: 0px;
	}
	.smalllogo{
		padding-top: 104%;
    	padding-left: 41.4%;
	}
	.smalllogo img{
		width: 76%;
	}
	.whyus{
		font-size: 67px;
	}
	.whytext{
		padding: 0px;
		padding-top: 10px;

	}
	.rightdiv {
		min-height: 450px;
	}
	.whyuspar{
		font-size: 17px;
		line-height: 22px;
	}
	.pardiv{
		padding-top: 12%;
	}
	.aboutsection img{
		left: 0;
	}
	.more1{
		padding-top: 26px;
	}
	.htext h3{
		font-size: 28px;
		padding-top: 2%;
	}
	.para{
		font-size: 20px;
	}
}

/* Nexus 5x landscape */
@media only screen
and (min-height: 361px)
and (max-height: 411px)
and (min-width: 641px)
and (max-width: 731px)
and (orientation:landscape){
   	.abouttext {
		padding-top: 5%;
		padding-left: 20px;
	}
	.aboutus{
		font-size: 64px;
    	padding-right: 2px;
    	padding-top: 0px;
    	padding-left: 0px;
	}
	.wrapperleftdiv{
		padding-right: 0px;
		padding-bottom: 10px;	
	}
	.wrapperrightdiv{
		padding-left: 0px;
	}
	.smalllogo{
		padding-top: 60.5% !important;
    	padding-left: 43.4%;
	}
	.aboutuspar{
		font-size: 20px;
		padding-right: 7px;
		line-height: normal;
		padding-left: 0px;
		padding-top: 2.5%;
	}
	.leftdiv{
		min-height: 450px;
	}
	.rightdiv{
		min-height: 450px;
	}
	.whyus{
		font-size: 64px;
	}
	.whytext{
		padding: 0px;
	}
	.whyuspar{
		font-size: 20px;
		line-height: normal;
	}
	.pardiv{
		padding-top: 7%;
	}
	.whytext{
		padding-top: 5%;
	}
	.aboutsection img{
		left: 0;
	}
	.htext h3{
		padding-top: 2%;
	}
}

/* Nexus 6p landscape */
@media only screen
and (min-height: 412px)
and (max-height: 435px)
and (min-width: 732px)
and (max-width: 773px)
and (orientation:landscape){
   .abouttext {
		padding-top: 5%;
		padding-left: 20px;
	}
	.aboutus{
		font-size: 64px;
    	padding-right: 2px;
    	padding-top: 0px;
    	padding-left: 0px;
	}
	.wrapperleftdiv{
		padding-right: 0px;
		padding-bottom: 10px;	
	}
	.wrapperrightdiv{
		padding-left: 0px;
	}
	.smalllogo{
		padding-top: 56.5%;
    	padding-left: 43.4%;
	}
	.aboutuspar{
		font-size: 20px;
		padding-right: 7px;
		line-height: 29px;
		padding-left: 0px;
		padding-top: 2.5%;
	}
	.leftdiv{
		min-height: 450px;
	}
	.rightdiv{
		min-height: 450px;
	}
	.whyus{
		font-size: 64px;
	}
	.whytext{
		padding: 0px;
	}
	.whyuspar{
		font-size: 20px;
		line-height: 30px;
	}
	.pardiv{
		padding-top: 7%;
		line-height: 28px;
	}
	.whytext{
		padding-top: 5%;
	}
	.aboutsection img{
		left: 0;
	}
	.htext h3{
		padding-top: 2%;
	}
}


/* iPhone 5 portrait */
@media only screen
and (max-width: 320px)
and (max-height: 568px)
and (orientation:portrait) {
	   .aboutus{
	   		font-size: 50px;
	   }
	   .aboutuspar{
	   		font-size: 14px;
	   }
	   .smalllogo{
	   		padding-top: 132.5%;
	   		margin-top: 14%;
	   }
	   .whyus{
	   		font-size: 50px;
	   }
	   .whyuspar{
	   		font-size: 15px;
	   }
	   .abouttext{
	   	padding-left: 11px;
	   	padding-right: 11px;
	   }
	   .htext h3{
	   		font-size: 24px;
	   }
	   .para{
	   		font-size: 19px;
	   }

}


/* iPhone 5 landscape */
@media only screen
and (max-height: 320px)
and (max-width: 568px)
and (orientation:landscape){
    	.smalllogo{
    		padding-top: 72.5%;
    		margin-top: 8%;
    	}
    	.whytext{
    		padding-left: 10px;
    	}
}

/* iPhone 6 portrait */
@media only screen
and (min-width: 321px)
and (max-width: 375px)
and (min-height: 569px)
and (max-height: 667px)
and (orientation:portrait) {
    .smalllogo{
    		padding-top: 114%;
    	}
    	.abouttext{
    		padding-left: 11px;
    		padding-right: 6px
    	}
}


/* iPhone 6 landscape */
@media only screen
and (min-height: 321px)
and (max-height: 375px)
and (min-width: 569px)
and (max-width: 667px)
and (orientation:landscape){
    .smalllogo{
    		padding-top: 61.5%;
    		margin-top: 1%;
    	}
}



/* iPhone 6 Plus portrait*/
@media only screen
and (min-width: 376px)
and (max-width: 414px)
and (min-height: 668px)
and (max-height: 736px)
and (orientation:portrait) {
 	.aboutus{
		font-size: 67px;
		padding-left: 0px;
    	padding-right: 2px;
    	padding-top: 0px;
	}
	.abouttext{
		padding-left: 18px;
		padding-top: 10px;

	}
	.aboutuspar{
		line-height: 24px;
	}
	.leftdiv{
		min-height: 454px;
	}
	.aboutuspar{
		font-size: 17px;
		padding-left: 0px;
    	padding-right: 1px;
    	padding-bottom: 5%;
	}
	.wrapperleftdiv{
		padding-right: 0px;
		padding-bottom: 10px;	
	}
	.wrapperrightdiv{
		padding-left: 0px;
	}
	.smalllogo{
		padding-top: 103%;
    	padding-left: 41.4%;
	}
	.smalllogo img{
		width: 76%;
	}
	.whyus{
		font-size: 67px;
	}
	.whytext{
		padding: 0px;
		padding-top: 10px;
	}
	.rightdiv {
		min-height: 450px;
	}
	.whyuspar{
		font-size: 17px;
		line-height: 24px;
	}
	.pardiv{
		padding-top: 12%;
	}
	.aboutsection img{
		left: 0;
	}
	.more1{
		padding-top: 26px;
	}
	.htext h3{
		font-size: 28px;
		padding-top: 2%;
	}
	.para{
		font-size: 20px;
	}   
}

/* iPhone 6 Plus landscape*/
@media only screen
and (min-height: 376px)
and (max-height: 414px)
and (min-width: 668px)
and (max-width: 736px)
and (orientation:landscape){
    .smalllogo{
    	padding-top: 56%;
    }
}
/* iPad  portrait*/
@media only screen
and (min-width: 750px)
and (max-width: 768px)
and (min-height: 1000px)
and (max-height: 1024px)
and (orientation:portrait) {
   .aboutus{
		font-size: 67px;
		padding-left: 0px;
    	padding-right: 2px;
    	padding-top: 50px;
	}
	.abouttext{
		padding-left: 20px;
	}
	.leftdiv{
		min-height: 454px;
	}
	.aboutuspar{
		font-size: 19.9px;
		padding-left: 0px;
    	padding-right: 1px;
    	padding-bottom: 5%;
    	line-height: 31px;
	}
	.wrapperleftdiv{
		padding-right: 0px;
		padding-bottom: 10px;	
	}
	.wrapperrightdiv{
		padding-left: 0px;
	}
	.smalllogo{
		padding-top: 56%;
    	padding-left: 41.4%;
	}
	.smalllogo img{
		width: 76%;
	}
	.whyus{
		font-size: 67px;
	}
	.whytext{
		padding: 0px;
		padding-top: 55px;
	}
	.rightdiv {
		min-height: 450px;
	}
	.whyuspar{
		font-size: 19px;
		line-height: 27px;
	}
	.pardiv{
		padding-top: 4%;
		line-height: 25PX;
	}
	.aboutsection img{
		left: 0;
	}
	.more1{
		padding-top: 26px;
	}
	.htext h3{
		font-size: 20px;
		padding-top: 2%;
	}
	.para{
		font-size: 17px;
	} 
	.more1 {
    padding-top: 42px;
    }
    .more3 {
    padding-top: 19px;
    }
}
/* iPad  landscape*/
@media only screen
and (min-height: 750px)
and (max-height: 768px)
and (min-width: 1000px)
and (max-width: 1024px)
and (orientation:landscape){
   .abouttext {
    padding-left: 10px!important;
    padding-top: 4PX;
    }
    .aboutus {
    font-size: 52px;
    padding-top: 30px;
    }
    .aboutuspar{
    line-height: 22px;
    font-size: 13.5px;
    }
    .whytext {
    padding-left: 0px;
    padding-top: 15px;
    }
    .whyus {
    font-size: 52px;
    padding-top: 33px;
    }
    .whyuspar{
    line-height: 22px;
    font-size: 14.5px;
    }
    .smalllogo {
    padding-top: 21%;
    padding-left: 46.4%;
    }
    .htext h3 {
    font-size: 27px;
   }
   .pardiv {
    padding-top: 20PX;
   }
   .more3 {
    padding-top: 14px;
   }
   .more2 {
    padding-top: 40px;
}
}

/* ipad pro Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .aboutus {
    font-size: 34px;
    padding-top: 30px;
    }  
    .aboutuspar{
    line-height:21px; 
    }	
    .whyus {
    font-size: 34px;
    padding-top: 30px;
    }
    .abouttext {
    padding-left: 44px;
    padding-top: 9PX;
    padding-top: 4PX;
    }  	
    .pardiv {
    padding-top: 38PX;
    line-height: 24PX;
    }
    .smalllogo {
    padding-top: 21%;
    padding-left: 46.4%;
    }
    .htext h3 {
    font-size: 27px;
    }
    .para{
    font-size: 18px;
    }
    .more3 {
    padding-top: 19px;
    }
    .more1 {
    padding-top: 44px;
    }
    .responsive-image {
    left: 0px;
    }
}


/*ipad pro Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  	.responsive-image {
    left: 0px;
    }
    .abouttext{
    	padding-left: 82px;
    }
    .smalllogo{
    	padding-top: 12%;
    }

}
