
@font-face {
    font-family: JosefinSans-Bold;
    src: url(../fonts/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: JosefinSans-BoldItalic;
    src: url(../fonts/JosefinSans-BoldItalic.ttf);
}

@font-face {
    font-family: JosefinSans-Italic;
    src: url(../fonts/JosefinSans-Italic.ttf);
}

@font-face {
    font-family: JosefinSans-Light;
    src: url(../fonts/JosefinSans-Light.ttf);
}

@font-face {
    font-family: JosefinSans-SemiBold;
    src: url(../fonts/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../fonts/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}




/* Rajavel */

.topheader {
	background-color: #213358;
	color: white;
	font-family: JosefinSans-Regular;
    font-style: italic;
    font-size: 16px;
    padding: 10px 0px 10px 0px;	
}

.wrapperclass {
	border:0px solid red;
}

.wrapperinner {
	background-color: transparent;
    margin-top: -1.5%;
	padding-right: 0px;
	color: white;
}

.wrappercutinnerfirst {
	background-image:url('../images/topheadercut.png');
    background-repeat:no-repeat;
    background-position:right top;
}

.wrappercutinner {
	background-color: #3399cc;	
}

.wrappercutinnerfirst, .wrappercutinner {
	height: 45px;
}

.wrappercutinner ul li {
	display: inline-block;
	padding: 7px 5px 7px 5px;	
}

.wrappercutinner ul {
	padding-left: 0px;
	padding-top: 1%;
}

.wrappercutinner ul li a {
	color: white;
	text-decoration: none;
	font-family: JosefinSans-Bold;
	font-size: 14px;
	z-index: 10000;
}

.cutimageclass img {
	padding: 0px 0px 7px 5px !important;	
}

/* footer */

.secondrow {
	background-color: #2B99CE;
	height: 20px;
}

.footer {
	background-color: #21305B;
	color: #fff;
	padding-top: 5%;
}

.footerlogo {
	width: 65%;
    padding: 10%;
}

.addressline {
	padding: 10%;
}

.addressline h6 {
	font-family: JosefinSans-Bold;
    font-size: 18px;
    color: #CA1B2C;
    letter-spacing: 2px;
}

.addressdetails, .footerlinks li a {
	font-family: OpenSans-Regular;
	font-size: 14px;
}

.addressdetails, .footerlinks li {
	line-height: 24px;
}

.addressline ul li {
	display: inline-block;
}

.addressline ul {
	padding: 10px 0 0 0;
}

.addressline ul li a img {
	width: 80%;
}

.footerlinks li {
	display: block !important;	
}

.footerlinks li a {
	text-decoration: none;
	color: #fff;
	
}
.footerlinks {
	padding-top: 0px !important;
}


/*Parthiban */

.footerleft {
	/*background-color: #2B99CE;*/
	padding: 0px;
	margin-top: -1%;
}

.firstdivcut {
	width: 80%;
	display: inline-block;
	vertical-align: middle;
	background-color: #3399CC;
	min-height: 91px;
	float: left;
	padding-top: 6%;
	color: white;
	padding-left: 10%;
}

.seconddivcut {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/footerrightcorner.png);
	background-repeat: no-repeat;
	background-color: transparent;
	min-height: 91px;
	float: left;
}

.firstleftcut {
	background-color: #3399CC;
	min-height: 91px;
	padding-right: 0px;
}

.secondleftcut {
	padding-left: 0px;
}

.footerright{
	padding-top: 28px;
	margin: 0px;
}
.footerrightdivcut{
	width: 3%;
	background-image: url(../images/emailimage.png);
	background-repeat: no-repeat;
	display: inline-block;
	min-height: 34px;
    float: left;
}

.footerrighttext{
	display: inline-block;
	border-style: none;
	vertical-align: top;
	min-height: 34px;
    background-color: white;
    width: 71%;
    float: left;
}
.footerrighttext input {
	padding-right: 0px;
	padding-top: 7px;
    width: 100%;
    border-style: none;
    text-align: center;
    padding-left: 54%; 
}
.footerrightbutton{
	display: inline-block;
	background-color: #3399CC;
	vertical-align: top;
	min-height: 34px;
    width: 17%;
    float: left;
}
.footerrightbutton a{
	color: white;
	padding-left: 10px;
}

.middlecontent {
	padding-top: 30px;
	padding-bottom: 30px;
}



/*Login Form*/


   


* {
    font-family: 'OpenSans-Regular';
}

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}



/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #1f3159;	
    border-radius: 7px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 13% 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 25px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}
.checkbox img{
	width: 7%;
	margin-left: 19%;
	border-radius: 2px;
	margin-top: -1.01%;
}

.btn {
    border-radius: 0px;
}
.btn-primary:hover{
	background-color: #2198d0;
	border-color: #2198d0;
}
.btn-primary{
	background-color: #cccccc;
	border-color: #cccccc;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 4px;
    margin-bottom: 4%;
}
.btn-lg{
	font-size: 16px;
	font-family: JosefinSans-Regular;
	font-weight: 600;
}

.btn-link {
    padding: 1px 0px 0px 2px;
    color: #fffeff;
    font-size: 16px;
}

.btn-link:hover, .btn-link:focus {
    color: #fffeff;
    text-decoration: none;
}
.glyphicon {
    top: 0px;
}

.form-controll {
	width: 100%;
  	border-radius: 4px;
    padding-top: 2.5%;
    padding-bottom: 1.5%;
	position: relative;
	padding-left: 16%;
    font-size: 18px;
    font-family: JosefinSans-Bold;
    border-style: none;
}
.input-adon img{
	position: absolute;
	z-index: 1;
	width: 31px;
    left: 5.5%;
    padding-top: 4%; 
}
.checkbox label{
	font-size: 16px;
	padding-left: 26px;
}
.checkbox {
	color: #fffeff;
    margin-bottom: 0px;
    padding-top: 6%;
    padding-bottom: 10%;
}

.Remember[type=checkbox] {
    zoom: 1.8;
    margin-left: -13px !important;
    margin-top: 0px;
    margin-right: 1px;
    border-style: none;
}
/* placeholder text color*/
.modal-body input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2098cd;
}
.modal-body input::-moz-placeholder { /* Firefox 19+ */
  color: #2098cd;
}
.modal-body input:-ms-input-placeholder { /* IE 10+ */
  color: #2098cd;
}
.modal-body input:-moz-placeholder { /* Firefox 18- */
  color: #2098cd;
}

.btn-login { 
  color: #FFFFFF; 
  background-color: #2198D0 !important; 
  border-color: #2198D0 !important; 
} 
 
.btn-login:hover, 
.btn-login:focus, 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  color: #FFFFFF; 
  background-color: #2198d0; 
  border-color: #2198D0; 
} 
 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  background-image: none; 
} 
 
.btn-login.disabled, 
.btn-login[disabled], 
fieldset[disabled] .btn-login, 
.btn-login.disabled:hover, 
.btn-login[disabled]:hover, 
fieldset[disabled] .btn-login:hover, 
.btn-login.disabled:focus, 
.btn-login[disabled]:focus, 
fieldset[disabled] .btn-login:focus, 
.btn-login.disabled:active, 
.btn-login[disabled]:active, 
fieldset[disabled] .btn-login:active, 
.btn-login.disabled.active, 
.btn-login[disabled].active, 
fieldset[disabled] .btn-login.active { 
  background-color: #2198D0; 
  border-color: #2198D0; 
} 
 
.btn-login .badge { 
  color: #2198D0; 
  background-color: #FFFFFF; 
}







