
 .leftside {
        background-image: url(images/aboutusimage.png);
    }

    .leftside img {
        width: 100%;
        position: relative;
      
    }
   .rightside {
        background-image: url(images/whyusimage.png);
    }

    .rightside img {
        width: 100%;
        position: relative;
      
    }
    .aboutinner {
        position: absolute;
        top: 10%;
        border: 0px solid white;
        margin-left: 8%;
        height: 320px;
        color: white;
    }

    .aboutinner h1 {
        font-family: JosefinSansBold;
        font-style: italic;
        font-size: 35px;
        padding-top: 35px;
    }

    .rightalign {
        text-align: right;
    }

    .leftpadding {
        padding-left: 6%;
    }

    .generalpara {
        font-size: 16px;
        font-weight: 200;
        padding-top: 20px;

    }
    .simage{
        padding-left: 40px;
        padding-top: 90px;
        width: 100%;
         position: relative;
        overflow: auto;
   
    }
    .text1{
       
    }
    .htext h3{
       font-family: Josefin Sans;
        font-size: 30px;
        font-weight: bold;
    }
    .para{
        font-family: Open Sans;
        font-size: 21px;
        font-weight: regular;
    }
    .more{
        font-family: Open Sans;
        font-size: 21px;
        font-weight: regular;
        color: #E4222A;
    }
    .more1{
        padding-top: 50px;
    }
    .more2{
        padding-top: 50px;
        margin-bottom: 75px;
    }
    .more3{
        padding-top: 50px;
        
    }



    .prasathcontent {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .leftdiv {
        background-color: #2780ae;
        background-image: url(../images/firstabout.png);
        background-repeat:no-repeat;
        background-size:cover;
        background-position: top right;
        min-height: 500px;
    }

   
    .rightdiv {
        background-color: #bf1f2d;
        background-image: url(../images/secondabout.png);
        background-repeat:no-repeat;
        background-size:cover;  
        background-position: top left;
        min-height: 500px;
    }



    .wrapperleftdiv {
        padding-left: 0px;
        padding-right: 5px;
    }

    .wrapperrightdiv {
        padding-right: 0px;
        padding-left: 5px;
    }
    .aboutus{
        font-family: josefinSans;
        font-weight: bold;
        font-style: italic;
        font-size: 69px;
        
    }